@model List<TheBookCave.Models.ViewModels.BookViewModel>

<h1>Cart</h1>

<ul>
    @foreach (var Book in Model)
    {
        <li>
            @Book.Title
        </li>
    }
</ul>

<a asp-controller="Account" asp-action="MakeOrder">Proceed To Cart</a>