<h1 class="text-center">Your Cart</h1>
<hr/>

<div class="row">
    <div class="col-md-2">
        <img src="~/images/avatars/andy-warhol@512px.png" alt="A picture of Andy Warhol" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/andy-warhol@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/barack-obama@512px.png" alt="A picture of Barack Obama" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/barack-obama@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/batman@512px.png" alt="A picture of Batman" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/batman@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/charlie-chaplin@512px.png" alt="A picture of Charlie Chaplin" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/charlie-chaplin@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/cristiano-ronaldo@512px.png" alt="A picture of Christiano Ronaldo" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/cristiano-ronaldo@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/dalai-lama@512px.png" alt="A picture of Dalai Lama" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/dalai-lama@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <img src="~/images/avatars/dave-grohl@512px.png" alt="A picture of Dave Grohl" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/dave-grohl@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/donald-trump@512px.png" alt="A picture of Donald Trump" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/donald-trump@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/girl-in-ballcap@512px.png" alt="A picture of a girl in ballcap" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
             <input type="submit" name="image" asp-route-image="~/images/avatars/girl-in-ballcap@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/indian-man@512px.png" alt="A picture of an indian man" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/indian-man@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/indian-woman@512px.png" alt="A picture of and indian woman" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/indian-woman@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/joseph-stalin@512px.png" alt="A picture of Jospeh Stalin" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/joseph-stalin@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <img src="~/images/avatars/luis-suarez@512px.png" alt="A picture of Luis Suarez" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/luis-suarez@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/mahatma-gandhi@512px.png" alt="A picture of Mahatma Gandhi" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/mahatma-gandhi@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/malcolm-x@512px.png" alt="A picture of Malcom X" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/malcolm-x@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/mick-jagger@512px.png" alt="A picture of Mick Jagger" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/mick-jagger@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/muslim-man@512px.png" alt="A picture of a muslim man" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/muslim-man@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/muslim-woman@512px.png" alt="A picture of a muslim women" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/muslim-woman@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    
</div>

<div class="row">
    <div class="col-md-2">
        <img src="~/images/avatars/native-man@512px.png" alt="A picture of a native man" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/native-man@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/native-woman@512px.png" alt="A picture of a native woman" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/native-woman@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/nikola-tesla@512px.png" alt="A picture of Nikola Tesla" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/nikola-tesla@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/robot-01@512px.png" alt="A picture of a robot" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/robot-01@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/robot-02@512px.png" alt="A picture of a robot" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/robot-02@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/robot-03@512px.png" alt="A picture of a robot" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/robot-03@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    
</div>

<div class="row">
    <div class="col-md-2">
        <img src="~/images/avatars/traditiona-japanese-man@512px.png" alt="A picture of a traditional japanese man" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/traditiona-japanese-man@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/traditional-japanese-woman@512px.png" alt="A picture of a traditional japanese woman" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/traditional-japanese-woman@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/traditional-african-man@512px.png" alt="A picture of a traditional african man" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/traditional-african-man@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/traditional-african-woman@512px.png" alt="A picture of a traditional african woman" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/traditional-african-woman@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/trinity@512px.png" alt="A picture of a Trinity" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/trinity@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
    <div class="col-md-2">
        <img src="~/images/avatars/vladimir-lenin@512px.png" alt="A picture of a Vladimir Lenin" class="image-medium">
        <form asp-controller="Account" asp-action="ChooseAvatar" method="POST">
            <input type="submit" name="image" asp-route-image="~/images/avatars/vladimir-lenin@512px.png" class="btn btn-primary center-block" value="Select"/>
        </form>
    </div>
</div>


















