@model TheBookCave.Models.ViewModels.UserViewModel

<h1>Edit Profile</h1>

<form asp-action="EditProfile" asp-controller="Account">
    <label>First Name: (Current Name: @Model.FirstName)
        <input type="text" asp-for="FirstName"/>
    </label> <br/>
    <label>
        <input type="text" asp-for="LastName"/>
    </label> <br/>
    <fieldset>
        <legend>Address</legend>
        <label>Street Name:
            <input type="text" name="streetName"/>
        </label>
        <label>House Number:
            <input type="number" name="houseNumber">
        </label>
    </fieldset>
    <input type="submit" value="Submit!"/>
</form>