@model TheBookCave.Models.ViewModels.UserViewModel

<h1>Account Information</h1>

<h2>@Model.FirstName</h2>
<h3>@Model.Email</h3>

<a asp-controller="Account" asp-action="EditProfile">Edit Profile</a>