@model List<TheBookCave.Models.ViewModels.OrderHistoryViewModel>

<h1 class="text-center">Order History</h1>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th class="col">Order ID</th>
                    <th class="col">Date Ordered</th>
                    <th class="col">Quantity</th>
                    <th class="col">Wrapped</th>
                    <th class="col">Total Price</th>
                </tr>
            </thead>
            <tbody>                 
                @foreach(var Order in Model)
                {
                    int amount = 0;
                    @foreach(var Book in Order.Books)
                    {
                        {amount += Book.Amount;}
                    }
                    <tr>
                        <td>@Order.OrderID</td>
                        <td>@Order.DateOrder</td>
                        <td>@amount</td>
                        @if(Order.IsWrapped)
                        {
                            <td>yes</td>
                        }
                        else
                        {
                            <td>no</td>
                        }
                        <td>@Order.TotalPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>

