@model TheBookCave.Models.InputModels.RegisterInputModel

<h1>Register</h1>
<form asp-action="Register" asp-controller="Account">
    <div class="form-group">
        <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email..."/> <br/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input asp-for="FirstName" type="text" class="form-control"placeholder="Enter your first name..."/> <br/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input asp-for="LastName" type="text" class="form-control" placeholder="Enter your last name..."/> <br/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input asp-for="Password" type="password" class="form-control" placeholder="Choose a password..."/> <br/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit">Register</button>
</form>

<div>
    <p>Already have an account? Log in!</p>
    <a asp-area="" asp-controller="Account" asp-action="LogIn" class="btn btn-primary">Log in!</a>
</div>