@model TheBookCave.Models.InputModels.RegisterInputModel

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 class="text-center">Register</h1>
    <br/>
    <form asp-action="Register" asp-controller="Account">
      <div class="form-group">
        <label for="register-email">Email</label>
        <input asp-for="Email" type="email" class="form-control" id="register-email" placeholder="Enter your email..."/> <br/>
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="register-first-name">First name</label>
        <input asp-for="FirstName" type="text" class="form-control" id="register-first-name" placeholder="Enter your first name..."/> <br/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="register-last-name">Last name</label>
        <input asp-for="LastName" type="text" class="form-control" id="register-last-name" placeholder="Enter your last name..."/> <br/>
        <span asp-validation-for="LastName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="register-password">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="register-password" placeholder="Choose a password..."/> <br/>
        <span asp-validation-for="Password" class="text-danger"></span>
        <p>Password must contain an upper case letter, a number, special character and needs to be at least 8 characters long.</p>
      </div>
      <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary"/>
      </div>
    </form>
    <p class="text-center">Already have an account?
      <a asp-area="" asp-controller="Account" asp-action="LogIn">Log in!</a>
    </p>
  </div>
  <div class="col-md-3"></div>
</div>