@model TheBookCave.Models.InputModels.CheckoutInputModel

<h1>Check Out</h1>

<form method="POST">
    <div>
        <label> Payment option
            <label>Credit</label>
            <input type="radio" asp-for="CardType" value="credit"/>
            <label>Debit</label>
            <input type="radio" asp-for="CardType" value="debit"/>
        <br/>
        <label> Cardholder's Name
            <input type="text" asp-for="CardHolder"/>
        </label>
        <br/>
        <label> Card Number
            <input type="text" asp-for="CardNumber"/>
        </label>
        <br/>
        <select asp-for="Month">
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select asp-for="Year">
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
        </select>
        <label>CVC
            <input type="text" asp-for="CVC"/>
        </label>
    </div>
    <div>
        <label>Full Name
            <input type="text" asp-for="FullName"/>
        </label>
        <br/>
        <label>Street Name
            <input type="text" asp-for="StreetName"/>
        </label>
        <label>House Number
            <input type="number" asp-for="HouseNumber">
        </label>
        <label>City
            <input type="text" asp-for="City"/>
        </label>
        <label>Zip Code
            <input type="number" asp-for="Zip"/>
        </label>
        <label>Country
            <input type="text" asp-for="Country"/>
        </label>
    </div>
    <div>
        <input asp-action="OrderCheckOutToVerify" asp-controller="Account" type="submit" value="Confirm"/>
    </div>
</form>
<button asp-controller="Account" asp-action="OrderCheckOutToVerify">Back</button>