@model TheBookCave.Models.ViewModels.OrderViewModel

<h1>Review</h1>

<!--Insert VIewmodel-->

<form asp-controller="Account" asp-action="ConfirmedOrder" method="POST">
    <input type="submit" value="Confirm"/>
</form>