@model TheBookCave.Models.ViewModels.OrderViewModel

<h1>Review</h1>

<!--Insert Viewmodel-->
@foreach(var Book in @Model.Books)
{
    <h2>@Book.Title</h2>
}

<h2>@Model.TotalPrice</h2>

@if(Model.IsWrapped)
{
    <h3>GIFT WRAPPED</h3>
}

<form asp-controller="Account" asp-action="ConfirmedOrder" asp-route-orderID="@Model.OrderID" method="POST">
    <input type="submit" value="Confirm"/>
</form>