@model List<TheBookCave.Models.ViewModels.BookViewModel>[]

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Hello World</h1>
</div>
<h2><a asp-action="Index" asp-controller="Home">Best Sellers</a></h2>
<ul>
    @foreach (var Book in Model[0])
    {
        <h3><a asp-controller="Book" asp-action="Details" asp-route-id="@Book.ID">@Book.Title</a></h3>
    }
</ul>
<h2><a asp-action="TopTen" asp-controller="Home">Top Ten</a></h2>
<ul>
    @foreach (var Book in Model[1])
    {
        <h3>@Book.Title</h3>
    }
</ul>
<h2><a asp-action="Index" asp-controller="Home">Newest</a></h2>
<ul>
    @foreach (var Book in Model[2])
    {
        <h3>@Book.Title</h3>
    }
</ul>