<h1>Terms of Service</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quis minus eaque consequatur sint, impedit vel, optio deserunt tempore exercitationem ipsum quasi quae commodi quibusdam adipisci, voluptates doloremque accusamus. Veniam!</p>
<p>all in all, we gon' yeet on yall</p>