@model List<TheBookCave.Models.ViewModels.BookViewModel>

<h1>The Top Ten</h1>
<ol>
    @foreach (var Book in Model)
    {
        <li>
            <div>
                <div class="thumbnail">
                    @{string path = Book.Image;}
                    <img src=@Url.Content(path) alt="...">
                    <div class="caption">
                        <h3 class="text-center">@Book.Title</h3>
                        <h4 class="text-center">@Book.Author</h4>
                        @{int intRating  = ((int)(((Book.Rating * 4) + 1) / 2)) * 5;}
                        @{string stringRating = "~/images/stars/" + intRating + "StarsSmall.png";}
                        <img src=@Url.Content(stringRating) alt="0 stars" class="img-responsive center-block">
                        <hr />
                        <p class="text-center">Price: @Book.Price</p>
                        <p>
                            <a href="#" class="btn btn-primary btn-block" role="button">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div> 
        </li>
    }
</ol>